<!doctype html>
<html>
  <head>
	  <title></title>
  </head>
  <body>
	  <p>This is <strong>: {{ owner }}</strong></p>
<p> hostname : {{ ansible_hostname }} </p>
<p> os family is : {{ ansible_os_family }}</p>
  </body>
</html>

